*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

.app-container {
    background-image: url(img1.jpg);
    background-size: 100%;
    width: 25em;
    height: 25em;
    border-radius: 10px;
    margin: 50px auto 0px;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.clock {
    background: white url(img2.svg) no-repeat center;
    background-size: 91%;
    border-radius: 50%;
    border: 5px solid brown;
    height: 20em;
    width: 20em;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50% );
}

.clock:after {
    background: black;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 5%;
    height: 5%;
    z-index: 10;
}

.clock__hand-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.clock__hours-hand {
    background: black;
    height: 20%;
    width: 2.5%;
    position: absolute;
    top: 30%;
    left: 48.75%;
    transform-origin: 50% 100%;
}

.clock__minutes-hand {
    background: black;
    height: 40%;
    width: 2%;
    position: absolute;
    top: 10%;
    left: 49%;
    transform-origin: 50% 100%;
}

.clock__seconds-hand {
    background: black;
    height: 45%;
    width: 1%;
    position: absolute;
    top: 14%;
    left: 49.5%;
    transform-origin: 50% 80%;
    z-index: 8;
}

.clock__hand-container--animate-hours {
    animation: rotate 43200s infinite steps(60);
}

.clock__hand-container--animate-minutes {
    animation: rotate 3600s infinite steps(60);
}

.clock__hand-container--animate-seconds {
    animation: rotate 60s infinite steps(60);
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}
